*~
*.o
*.dSYM
OLD/
roman/
src/trio-1.16/Makefile
src/trio-1.16/autom4te.cache/
src/trio-1.16/config.log
src/trio-1.16/config.status
src/trio-1.16/configure
src/trio-1.16/libtrio.*
tests/
nq_[gla]_[0-9]*_[0-9]*
nq_[gla]
